@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Raleway|Yeseva+One&display=swap" rel="stylesheet">
    <body>
        <div class="middle-background">
            <img id="img-home-background"
                 src="https://photos.letsroam.com/scavenger_hunt_locations/st_louis_scavenger_hunt_St._Louis_Missouri_team_building_1524242695_large.jpg"
                 alt="St Louis Arch" />
            <div class="centered">
                <h1 class="main-title">Welcome</h1>
                <h3 class="description">Let Us Show You Around</h3>


                <p id="body">
                    Whether you're a new tourist or an old native,
                    we hope to help you find the latest and greatest
                    St Louis has to offer. Our list of places to visit
                    around the city is grown with love by our users. So,
                    add your newest brunch spot, rate your favorite museum,
                    and give everyone the inside scoop on what to know before you go.
                </p>
            </div>

        </div>
    </body>